.git
.github
.pytest_cache
.venv
venv
*.egg-info
__pycache__
*.pyc
.DS_Store
.env
.env.*
!.env.example
frontend
docs
tests
*.npy
*.faiss
backend/app/data_processing/pdf_data.parquet
backend/app/data_processing/embeddings_data/embeddings_pdf/*.pdf
